[Unit]
Description=mastodon-web
After=network.target

[Service]
Type=simple
User={{ mastodon_user_name }}
WorkingDirectory={{ mastodon_directory }}
Environment="RAILS_ENV=production"
Environment="PORT={{ mastodon_local_web_port }}"
ExecStart={{ mastodon_ruby_path }}/bundle exec puma -C config/puma.rb
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
